/* ---------- Global Styles ---------- */

img {
  width: 100%;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.link-in-text {
  color: var(--almost-black);
  font-weight: 600;
}

/* ---------- Subheading pictures ---------- */

.image-wrapper {
  display: flex;
  max-width: 450px;
}
.image-one {
  margin-left: 10px;
  margin-right: 10px;
}
.image-two,
.image-three {
  margin-right: 10px;
}

.children-aeronautics {
  flex: 1.5045;
}

.children-chemistry {
  flex: 1.5035;
}

.children-art {
  flex: 1.3195;
}

.teachers-male-teacher {
  flex: 1.4988;
}

.teachers-science-items,
.get-involved-bulb {
  flex: 1.7777;
}

.teachers-female-teacher,
.researcher-lab,
.internship-computer-code {
  flex: 1.5005;
}

.researchers-engineer {
  flex: 1.5041;
}

.researchers-microscope {
  flex: 1.5571;
}

.get-involved-museum {
  flex: 1;
}

.get-involved-child {
  flex: 1.7391;
}

.volunteer-exhibition-hall {
  flex: 1.953;
}

.volunteer-exhibit {
  flex: 1.5099;
}

.volunteer-library,
.internship-skeleton {
  flex: 1.5;
}

.internship-reptile,
.who-we-are-mammoth {
  flex: 1.5023;
}

.who-we-are-heart {
  flex: 1.5106;
}

.who-we-are-ants {
  flex: 1.3333;
}

/* ---------- Contact ---------- */

.contact-form p {
  margin: 1.5rem auto;
}
.contact-form {
  width: 90%;
  margin: auto;
  position: relative;
}

.heading-contact-form {
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.contact-heading,
.contact-field {
  display: block;
  font: 1rem "Nunito", sans-serif;
  font-weight: 600;
  color: var(--almost-black);
  background-color: white;
  width: 100%;
}

.contact-heading span {
  color: red;
}

.contact-field {
  height: 40px;
  border: 1px solid var(--primary-yellow);
  font-size: 0.75rem;
  color: var(--almost-black);
  margin-bottom: 20px;
  font-weight: 400;
}

textarea {
  height: 120px;
  border: 1px solid var(--primary-yellow);
}

button {
  border: none;
  margin-top: 1.5rem;
  align-self: flex-end;
}
