body {
  position: relative;
}
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.link-in-text {
  color: var(--almost-black);
  font-weight: 600;
  padding: 0px 2px;
}

.image-wrapper {
  display: flex;
}
.image-one {
  margin-left: 10px;
  margin-right: 10px;
}
.image-two {
  margin-right: 10px;
}
.image-three {
  margin-right: 10px;
}
.children-aeronautics {
  flex: 1.5045;
}

.children-chemistry {
  flex: 1.5035;
}

.children-art {
  flex: 1.3195;
}

.teachers-male-teacher {
  flex: 1.4988;
}

.teachers-science-items,
.get-involved-bulb {
  flex: 1.7777;
}

.teachers-female-teacher,
.researcher-lab,
.internship-computer-code {
  flex: 1.5005;
}

.researchers-engineer {
  flex: 1.5041;
}

.researchers-microscope {
  flex: 1.5571;
}

.get-involved-museum {
  flex: 1;
}

.get-involved-child {
  flex: 1.518;
}

.volunteer-exhibition-hall {
  flex: 1.953;
}

.volunteer-exhibit {
  flex: 1.5099;
}

.volunteer-library,
.internship-skeleton {
  flex: 1.5;
}

.internship-reptile,
.who-we-are-mammoth {
  flex: 1.5023;
}

.who-we-are-heart {
  flex: 1.5106;
}

.who-we-are-ants {
  flex: 1.3333;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.form-field {
  display: flex;
  flex-direction: column;
}

.contact-heading,
.contact-field {
  display: flex;
  flex-direction: column;
  font: 1rem "Nunito", sans-serif;
  color: var(--almost-black);
  background-color: white;
}

.contact-field {
  height: 40px;
  border: 1px solid var(--primary-yellow);
  font-size: 0.75rem;
  color: grey;
  margin-bottom: 20px;
}
input:invalid {
  border-color: red;
}

textarea {
  height: 120px;
  border: 1px solid var(--primary-yellow);
}

.cta-form {
  align-self: flex-end;
  margin-top: 20px;
}

.popup-box {
  max-width: 300px;
  text-align: center;
  /*background-color: white;*/
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation-name: parachute;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.message {
  border: 1px solid var(--primary-yellow);
  background-color: white;
}
.popup-box h2,
.popup-box p {
  text-align: left;
}

.popup-box h2 {
  font-size: 1.125rem;
}
.fa-smile-beam {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--primary-yellow);
}

#pop-up-cta {
  display: none;
}
#pop-up-cta:checked + .popup-box {
  display: block;
}

@keyframes parachute {
  0% {
    position: absolute;
    bottom: 100%;
  }

  100% {
    bottom: 25%;
  }
}
