@media only screen and (max-width: 335px) {
  .logo {
    max-width: 180px;
  }

  .exhibition-brief,
  .featured-exhibition-brief {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .explore {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: auto;
  }

  .explore-picture,
  .explore-brief {
    max-width: 100%;
    min-height: auto;
  }

  .socials-icons {
    display: flex;
    flex-direction: column;
  }

  footer i {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 500px) {
  nav li {
    text-align: center;
  }

  .wrapper {
    max-width: 70%;
    margin: auto;
  }

  .news-grid {
    max-width: 65%;
    margin: auto;
  }

  /* ---------- Contact ---------- */

  .heading-contact-form {
    text-align: center;
  }
}

@media only screen and (min-width: 694px) {
  h1,
  h2,
  h3,
  h4 {
    margin-left: 20px;
  }

  footer {
    margin-top: 25px;
    display: grid;
    grid-template-areas:
      "form socials"
      "copyright copyright";
  }

  .socials {
    justify-self: end;
  }

  /* ---------- Landing page & Exhibitions ---------- */

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    row-gap: 30px;
  }

  .wrapper h1,
  .wrapper h2 {
    grid-column: -1/1;
  }

  .exhibitions-card {
    max-width: 100%;
  }

  article {
    margin-bottom: 0;
  }

  .exhibition-info h2 {
    margin-left: 0px;
  }

  .explore-section-heading h3 {
    margin-top: 0;
  }

  .news-grid,
  .news-item {
    margin-left: 10px;
  }

  .news-item {
    max-width: 300px;
  }

  /* ---------- Explore ---------- */

  .explore-involved-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    margin: auto;
  }

  .explore-involved-container h1 {
    grid-column: -1/1;
  }

  .image-wrapper {
    margin-left: 10px;
  }

  .main-paragraph-container {
    max-width: 600px;
    margin: auto;
  }
  .paragraph-container {
    max-width: 300px;
  }

  .paragraph-container p {
    margin-left: 20px;
  }

  /* ---------- Contact ---------- */

  .contact-form {
    width: 50%;
  }

  /* ---------- The museum ---------- */

  iframe {
    height: 200px;
  }

  .visit-container {
    width: 100%;
    margin: 0 auto;
    height: fit-content;
  }

  .visit-container h3 {
    margin-left: 10px;
  }

  .visit-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 650px;
    margin: auto;
    gap: 20px;
  }
}

@media only screen and (min-width: 694px) and (max-width: 1099px) {
  .news-grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: start;
  }

  .news-grid h2 {
    grid-column: -1/1;
  }

  .news-item {
    max-width: 90%;
  }
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 999px) {
  .wrapper {
    max-width: 90%;
    row-gap: 20px;
  }

  .explore-grid h2 {
    margin-bottom: 0;
    margin-top: 50px;
  }

  .explore-involved-container {
    max-width: 750px;
  }
  .main-paragraph-container {
    max-width: 750px;
    margin: auto;
  }
  .paragraph-container {
    max-width: 325px;
  }

  .visit-wrapper {
    max-width: 750px;
  }
}

@media only screen and (min-width: 1000px) {
  .featured-exhibition {
    height: 320px;
  }
  .featured-exhibition h1 {
    margin-bottom: 150px;
  }

  .cta-large {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1100px) {
  .logo {
    min-width: 300px;
  }
  header {
    display: flex;
    align-items: center;
  }
  nav {
    position: static;
    transform: translateY(0);
    overflow: visible;
  }
  nav ul {
    justify-content: flex-end;
    flex-flow: row wrap;
    margin-right: 20px;
  }

  nav ul ul a {
    width: 100%;
    padding-right: 0;
  }
  nav a {
    margin-right: 15px;
    padding-right: 10px;
  }

  h1 {
    font-size: 2.5rem;
  }
  .hamburger,
  .close {
    display: none;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: var(--almost-black);
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .hidden-small-screens {
    display: inline-block;
  }

  .featured-exhibition-info {
    max-width: 1100px;
    margin: auto;
  }

  .wrapper {
    gap: 20px;
    max-width: 1100px;
    margin: auto;
  }

  .explore-grid h2 {
    margin-bottom: 0;
  }
  .exhibition,
  .exhibition-brief,
  .exhibition-info,
  .explore {
    max-width: 90%;
  }

  .news-grid {
    max-width: 100%;
    margin-top: 0px;
    margin-left: 20px;
  }

  .landing-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    max-width: 1100px;
    margin: auto;
  }

  .newsletter {
    width: 60%;
    margin-left: 50px;
  }

  .socials {
    margin-right: 50px;
  }

  /* ---------- Exhibitions ---------- */

  .wrapper-exhibitions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* ---------- Explore & Get involved ---------- */

  .explore-involved-container {
    max-width: 1000px;
    margin: auto;
    gap: 30px;
  }
  .main-paragraph-container {
    max-width: 1000px;
    margin-bottom: 30px;
  }
  .paragraph-container {
    max-width: 490px;
  }
  /* ---------- The museum ---------- */

  .visit-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  iframe {
    height: 300px;
  }

  .visit-wrapper {
    max-width: 980px;
  }

  /* ---------- Contact ---------- */

  .contact-form {
    width: 500px;
  }

  .heading-contact-form {
    text-align: center;
  }
}
