@media only screen and (min-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .wrapper h2 {
    grid-column: -1/1;
  }

  footer {
    margin-top: 25px;
    display: grid;
    grid-template-areas:
      "form socials"
      "copyright copyright";
  }

  footer p {
    padding-top: 35px;
  }
  .socials {
    justify-self: end;
  }
}

@media only screen and (min-width: 722px) {
  .logo {
    float: left;
    max-width: 250px;
  }

  header {
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: space-between;
    align-content: center;
  }

  nav ul,
  .display-item-large-screen {
    display: inline-flex;
  }

  nav li {
    padding-right: 10px;
  }

  .hidden-item-large-screen,
  .hamburger-label {
    display: none;
  }
}
