@media only screen and (min-width: 658px) {
  h1,
  h2,
  h3,
  h4 {
    margin-left: 20px;
  }

  /* ---------- Landing page & Exhibitions ---------- */

  .featured-exhibition-brief {
    margin-left: 20px;
    margin-right: 20px;
  }

  .exhibition,
  .exhibition-brief,
  .exhibition-info {
    max-width: 320px;
  }

  .exhibition-info h2 {
    margin-left: 0px;
  }

  .explore-section-heading h3 {
    margin-top: 0;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .wrapper h2 {
    grid-column: -1/1;
  }

  .news {
    height: auto;
  }

  .slider {
    width: 60%;
  }

  /* ---------- Explore ---------- */

  .explore-involved-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .image-wrapper {
    margin-left: 10px;
  }

  .paragraph-container p {
    margin-left: 20px;
  }

  /* ---------- Contact ---------- */

  .contact-form {
    width: 50%;
  }

  /* ---------- The museum ---------- */

  iframe {
    height: 200px;
  }

  .visit-container {
    width: 320px;
    margin: 0 auto;
    height: fit-content;
  }

  .visit-container h3 {
    margin-left: 10px;
  }

  .visit-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer {
    margin-top: 25px;
    display: grid;
    grid-template-areas:
      "form socials"
      "copyright copyright";
  }

  /*footer p {
    padding-top: 35px;
  }*/
  .socials {
    justify-self: end;
  }

  .socials p {
    font-weight: 400;
  }
}

@media only screen and (min-width: 722px) {
  /*.logo {
    float: left;
    max-width: 250px;
  }

  header {
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: space-between;
    align-content: center;
  }

  nav,
  ul,
  .display-item-large-screen {
    display: inline-flex;
  }

  nav li {
    padding-right: 10px;
  }

  .hidden-item-large-screen,
  .hamburger-label {
    display: none;
  }

  .plan-your-visit-label {
    color: var(--almost-white);
    font: 1rem "Nunito", sans-serif;
  }

  .plan-your-visit-label:hover {
    color: var(--primary-yellow);
    text-decoration: underline;
  }
  #plan-your-visit-menu {
    display: none;
  }
  .plan-your-visit-items:hover {
    color: var(--primary-yellow);
  }
  .plan-your-visit-menu:checked + .plan-your-visit-items {
    display: grid;
    text-align: left;
  }*/
}

@media only screen and (min-width: 1000px) {
  header {
    display: flex;
    align-items: center;
  }
  nav {
    position: static;
    transform: translateY(0);
    overflow: visible;
  }
  nav ul {
    justify-content: flex-end;
    flex-flow: row wrap;
    margin-right: 20px;
  }

  nav ul ul a {
    width: 100%;
    padding-right: 0;
  }
  nav a {
    margin-right: 15px;
    font-size: 1.25rem;
    padding-right: 10px;
  }
  .hamburger,
  .close {
    display: none;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: var(--almost-black);
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .hidden-small-screens {
    display: inline-block;
  }
}

/*.home {
    display: flex;
    justify-content: space-between;
  }*/
/*
  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 20px;
  }

  nav a {
    padding: 0 1rem;
    font-size: 1.25rem;
  }

  .logo {
    width: 100%;
  }
  .home {
    flex: 1;
  }
  .navigation {
    flex: 1.5;
  }
  .hidden-large-screens {
    display: none;
  }

  .display-large-screens {
    display: block;
  }*/
