:root {
  --almost-black: #1e1e1e;
  --primary-yellow: #f0d109;
  --almost-white: #ffffdc;
  --background-light-blue: #f0fafa;
  --background-light-purple: #f4e7ff;
  --background-light-pink: #fff3f3;
}

h1 {
  font: 2.25rem "Catamaran", sans-serif;
  font-weight: 700;
}
h2 {
  font: 1.875rem "Catamaran", sans-serif;
  font-weight: 600;
  text-decoration: underline;
}

h3,
h4 {
  font-family: "Catamaran", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

p {
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--almost-black);
}

.image-small {
  width: 150px;
  height: 150px;
}
.fa-bars {
  color: var(--primary-yellow);
  font-size: 30px;
  padding: 20px;
}
.cta {
  font-family: "Fredoka One", cursive;
  color: var(--almost-black);
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--primary-yellow);
  padding: 2px 20px;
  box-shadow: -2px 2px 2px var(--almost-black);
}
