:root {
  --almost-black: #1e1e1e;
  --primary-yellow: #f0d109;
  --almost-white: #ffffdc;
  --background-light-blue: #f0fafa;
  --background-light-purple: #f4e7ff;
  --background-light-pink: #fff3f3;
}

body {
  margin: 0px 0px 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--almost-black);
}

h1 {
  font: 2.25rem "Catamaran", sans-serif;
  font-weight: 700;
  margin-left: 10px;
  line-height: 2.25rem;
}
h2 {
  font: 1.875rem "Catamaran", sans-serif;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 10px;
  line-height: 1.875rem;
}

h3,
h4 {
  font: 1.25rem "Catamaran", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin: 20px 10px 0px;
}

p,
date {
  font: 1rem "Nunito", sans-serif;
  margin: 0px 10px;
}

i {
  margin: 0px 10px;
}

.logo {
  width: 100%;
}

.fa-bars {
  color: var(--primary-yellow);
  font-size: 30px;
  padding: 20px;
}

.exhibition {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 90%;
  height: 140px;
  margin: 20px auto 0px;
}
.exhibition h2 {
  text-decoration: none;
  text-shadow: 0px 3px 6px #000;
  color: var(--almost-white);
  margin: 0px 10px;
  position: absolute;
  bottom: 5%;
}

.exhibition-brief {
  max-width: 90%;
  margin: 0px auto;
  background-color: var(--background-light-pink);
  position: relative;
}
.exhibition-brief,
.featured-exhibition-brief {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: end;
  justify-items: end;
}

.exhibition-brief-specs {
  display: flex;
}

.exhibition-brief-specs p,
.exhibition-brief-specs date {
  margin-left: 0px;
  padding: 3px;
}

.exhibition-brief-specs i {
  padding: 3px;
}

.news {
  max-width: 80%;
  margin: auto;
}

.news-brief {
  min-width: 100%;
  background-color: var(--background-light-purple);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.exhibition-brief-cta,
.explore-brief a {
  margin: 10px;
}
.news h3 {
  background-color: var(--background-light-purple);
  padding: 5px;
  line-height: 1.375rem;
  margin: 20px 0px 0px;
}

.cta {
  font: 1.25rem "Fredoka One", cursive;
  color: var(--almost-black);
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--primary-yellow);
  padding: 2px 20px;
  box-shadow: 0px 3px 6px #000;
  /*position: absolute;
  bottom: 5%;
  right: 5%;*/
}

.cta-large {
  font-size: 1.625rem;
}
