iframe {
  width: 100%;
  height: auto;
}

h3 {
  background-color: var(--almost-white);
  margin: 20px 0px 10px;
  padding: 5px 0;
}

address {
  font: 1rem "Nunito", sans-serif;
  color: var(--almost-black);
  font-style: normal;
  margin-left: 10px;
}

.paragraph-break {
  margin-bottom: 10px;
}

.link-in-text {
  color: var(--almost-black);
  font-weight: 600;
}
